{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/features/(.*)$",
    "^@/shared/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
